<div
  class="bg-[rgb(15,1,71)] box-border flex w-[1680px] flex-row items-center justify-center leading-[24px] px-0 py-[32px]"
>
  <div
    class="items-center text-white flex flex-row justify-center relative w-[1200px] box-border"
  >
    <div class="box-border flex flex-col">
      <div class="box-border text-center mt-[16px] mb-[40px]">
        <h2
          class="box-border text-[36px] font-bold leading-[40px] text-white m-0"
        >
          Frequently Asked Questions
        </h2>
      </div>
      <div class="box-border w-[672px] max-w-[672px] p-[8px] rounded-[16px]">
        <div class="box-border mb-[20px]">
          <button
            type="button"
            aria-expanded="true"
            aria-controls="headlessui-disclosure-panel-:R8ddsta:"
            class="box-border text-white text-[18px] font-bold leading-[28px] bg-[rgb(23,8,85)] cursor-pointer flex w-[656px] items-center justify-between text-left p-[16px] rounded-[8px]"
          >
            <span class="box-border">What is CSSPicker?</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="box-border block align-middle h-[20px] w-[20px] text-indigo-500"
            >
              <path
                fill-rule="evenodd"
                d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
                clip-rule="evenodd"
                class="box-border"
              ></path>
            </svg>
          </button>
          <div class="box-border text-gray-200 pt-[16px] pb-[8px] px-[16px]">
            CSSPicker is a browser extension allows you to copy HTML with CSS
            and convert them into reusable code snippets in React, Vue, Tailwind
            CSS etc. It simplifies inspecting page elements and extracting clean
            code.
          </div>
        </div>
        <div class="box-border mb-[20px]">
          <button
            type="button"
            aria-expanded="true"
            aria-controls="headlessui-disclosure-panel-:R8ldsta:"
            class="box-border text-white text-[18px] font-bold leading-[28px] bg-[rgb(23,8,85)] cursor-pointer flex w-[656px] items-center justify-between text-left p-[16px] rounded-[8px]"
          >
            <span class="box-border">How to copy css from a webiste?</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="box-border block align-middle h-[20px] w-[20px] text-indigo-500"
            >
              <path
                fill-rule="evenodd"
                d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
                clip-rule="evenodd"
                class="box-border"
              ></path>
            </svg>
          </button>
          <div class="box-border text-gray-200 pt-[16px] pb-[8px] px-[16px]">
            <span class="box-border">
              Install the CSSPicker extension, then simply click on any element
              on a webpage to copy its HTML and CSS. The code will be
              automatically converted into your preferred framework for easy
              pasting into your projects. You can copy
              <a
                href="/css-examples/css-button-examples"
                class="box-border text-indigo-300"
              >
                css button
              </a>
              , box shadows, and many other style with one click.
            </span>
          </div>
        </div>
        <div class="box-border mb-[20px]">
          <button
            type="button"
            aria-expanded="true"
            aria-controls="headlessui-disclosure-panel-:R8tdsta:"
            class="box-border text-white text-[18px] font-bold leading-[28px] bg-[rgb(23,8,85)] cursor-pointer flex w-[656px] items-center justify-between text-left p-[16px] rounded-[8px]"
          >
            <span class="box-border">
              What code formats does CSSPicker support?
            </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="box-border block align-middle h-[20px] w-[20px] text-indigo-500"
            >
              <path
                fill-rule="evenodd"
                d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
                clip-rule="evenodd"
                class="box-border"
              ></path>
            </svg>
          </button>
          <div class="box-border text-gray-200 pt-[16px] pb-[8px] px-[16px]">
            CSSPicker can output code in React, Tailwind CSS, plain CSS, and
            more. It converts HTML and CSS from any webpage into your desired
            format. The styling is automatically adapted to match your stack.
          </div>
        </div>
        <div class="box-border mb-[20px]">
          <button
            type="button"
            aria-expanded="true"
            aria-controls="headlessui-disclosure-panel-:R95dsta:"
            class="box-border text-white text-[18px] font-bold leading-[28px] bg-[rgb(23,8,85)] cursor-pointer flex w-[656px] items-center justify-between text-left p-[16px] rounded-[8px]"
          >
            <span class="box-border">
              Does it work on all websites and frameworks?
            </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="box-border block align-middle h-[20px] w-[20px] text-indigo-500"
            >
              <path
                fill-rule="evenodd"
                d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
                clip-rule="evenodd"
                class="box-border"
              ></path>
            </svg>
          </button>
          <div class="box-border text-gray-200 pt-[16px] pb-[8px] px-[16px]">
            Yes, CSSPicker can copy elements from any webpage built with any
            framework like React, Vue, WordPress etc. It extracts and converts
            the code behind any element into ui framework code as you like. Just
            click to copy!
          </div>
        </div>
        <div class="box-border mb-[20px]">
          <button
            type="button"
            aria-expanded="true"
            aria-controls="headlessui-disclosure-panel-:R9ddsta:"
            class="box-border text-white text-[18px] font-bold leading-[28px] bg-[rgb(23,8,85)] cursor-pointer flex w-[656px] items-center justify-between text-left p-[16px] rounded-[8px]"
          >
            <span class="box-border">How do I get support?</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="box-border block align-middle h-[20px] w-[20px] text-indigo-500"
            >
              <path
                fill-rule="evenodd"
                d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
                clip-rule="evenodd"
                class="box-border"
              ></path>
            </svg>
          </button>
          <div class="box-border text-gray-200 pt-[16px] pb-[8px] px-[16px]">
            Email me at ChristianHappyGo@gmail.com. I'am still working on
            CSSPicker. User feedback is crucial, so your suggestions help me
            improve the product.
          </div>
        </div>
        <div class="box-border mb-[20px]">
          <button
            type="button"
            aria-expanded="true"
            aria-controls="headlessui-disclosure-panel-:R9ldsta:"
            class="box-border text-white text-[18px] font-bold leading-[28px] bg-[rgb(23,8,85)] cursor-pointer flex w-[656px] items-center justify-between text-left p-[16px] rounded-[8px]"
          >
            <span class="box-border">Can I copy element children?</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="box-border block align-middle h-[20px] w-[20px] text-indigo-500"
            >
              <path
                fill-rule="evenodd"
                d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
                clip-rule="evenodd"
                class="box-border"
              ></path>
            </svg>
          </button>
          <div class="box-border text-gray-200 pt-[16px] pb-[8px] px-[16px]">
            <span class="box-border">
              It's not in the free plan.You should be a premium user to use
              it.Get a license key
              <a href="/#Pricing" class="box-border text-indigo-500 ml-[8px]">
                here
              </a>
            </span>
          </div>
        </div>
        <div class="box-border mb-[20px]">
          <button
            type="button"
            aria-expanded="true"
            aria-controls="headlessui-disclosure-panel-:R9tdsta:"
            class="box-border text-white text-[18px] font-bold leading-[28px] bg-[rgb(23,8,85)] cursor-pointer flex w-[656px] items-center justify-between text-left p-[16px] rounded-[8px]"
          >
            <span class="box-border">
              Does it work for dynamically generated content?
            </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="box-border block align-middle h-[20px] w-[20px] text-indigo-500"
            >
              <path
                fill-rule="evenodd"
                d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
                clip-rule="evenodd"
                class="box-border"
              ></path>
            </svg>
          </button>
          <div class="box-border text-gray-200 pt-[16px] pb-[8px] px-[16px]">
            For sites using heavy JavaScript to generate content, CSSPicker
            grabs the final rendered HTML and CSS. Some tweaks may be needed if
            the content changes dynamically on interaction.
          </div>
        </div>
        <div class="box-border mb-[20px]">
          <button
            type="button"
            aria-expanded="true"
            aria-controls="headlessui-disclosure-panel-:Ra5dsta:"
            class="box-border text-white text-[18px] font-bold leading-[28px] bg-[rgb(23,8,85)] cursor-pointer flex w-[656px] items-center justify-between text-left p-[16px] rounded-[8px]"
          >
            <span class="box-border">
              How to get a license and activate it?
            </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="box-border block align-middle h-[20px] w-[20px] text-indigo-500"
            >
              <path
                fill-rule="evenodd"
                d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
                clip-rule="evenodd"
                class="box-border"
              ></path>
            </svg>
          </button>
          <div class="box-border text-gray-200 pt-[16px] pb-[8px] px-[16px]">
            <span class="box-border">
              You can get a license
              <a href="/#Pricing" class="box-border text-indigo-500">here</a>
              , after purchase you will receive an email with license key.Then
              click upgrade button on the panel which will show after click
              element with cssPicker.
            </span>
          </div>
        </div>
        <div class="box-border mb-[20px]">
          <button
            type="button"
            aria-expanded="true"
            aria-controls="headlessui-disclosure-panel-:Raddsta:"
            class="box-border text-white text-[18px] font-bold leading-[28px] bg-[rgb(23,8,85)] cursor-pointer flex w-[656px] items-center justify-between text-left p-[16px] rounded-[8px]"
          >
            <span class="box-border">How do I get a refund?</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="box-border block align-middle h-[20px] w-[20px] text-indigo-500"
            >
              <path
                fill-rule="evenodd"
                d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
                clip-rule="evenodd"
                class="box-border"
              ></path>
            </svg>
          </button>
          <div class="box-border text-gray-200 pt-[16px] pb-[8px] px-[16px]">
            <span class="box-border">
              If you want to get money back, please send a email to us within 14
              days of your purchase and we will refund your momeny.
              <a
                href="mailto:ChristianHappyGo@gmail.com?subject=refund"
                class="box-border text-indigo-500"
              >
                ChristianHappyGo@gmail.com
              </a>
            </span>
          </div>
        </div>
        <div class="box-border mb-[20px]">
          <button
            type="button"
            aria-expanded="true"
            aria-controls="headlessui-disclosure-panel-:Raldsta:"
            class="box-border text-white text-[18px] font-bold leading-[28px] bg-[rgb(23,8,85)] cursor-pointer flex w-[656px] items-center justify-between text-left p-[16px] rounded-[8px]"
          >
            <span class="box-border">How do I cancel subscription?</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="box-border block align-middle h-[20px] w-[20px] text-indigo-500"
            >
              <path
                fill-rule="evenodd"
                d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
                clip-rule="evenodd"
                class="box-border"
              ></path>
            </svg>
          </button>
          <div class="box-border text-gray-200 pt-[16px] pb-[8px] px-[16px]">
            <span class="box-border">
              If you want to cancel subscription, please send a email to us and
              we will cancel it.
              <a
                href="mailto:ChristianHappyGo@gmail.com?subject=refund"
                class="box-border text-indigo-500"
              >
                ChristianHappyGo@gmail.com
              </a>
            </span>
          </div>
        </div>
        <div class="box-border mb-[20px]">
          <button
            type="button"
            aria-expanded="true"
            aria-controls="headlessui-disclosure-panel-:Ratdsta:"
            class="box-border text-white text-[18px] font-bold leading-[28px] bg-[rgb(23,8,85)] cursor-pointer flex w-[656px] items-center justify-between text-left p-[16px] rounded-[8px]"
          >
            <span class="box-border">Can I use CSSPicker for free?</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="box-border block align-middle h-[20px] w-[20px] text-indigo-500"
            >
              <path
                fill-rule="evenodd"
                d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
                clip-rule="evenodd"
                class="box-border"
              ></path>
            </svg>
          </button>
          <div class="box-border text-gray-200 pt-[16px] pb-[8px] px-[16px]">
            <span class="box-border">
              Yes, you can use free version of CSSPicker. The free version will
              allows you to copy element without children.If you want to copy
              element with children, try to get a license
              <a href="/#Pricing" class="box-border text-indigo-300">here</a>
              .
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
